@model SpedizioniEpicode.Models.TrackingSpedizioneView
@{
    ViewBag.Title = "Ricerca Spedizione";
}

<h2>Ricerca Spedizione</h2>

@using (Html.BeginForm("Ricerca", "TrackingSpedizione", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.CodiceFiscale, new {@class="control-label" })
        @Html.TextBoxFor(m => m.CodiceFiscale, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CodiceFiscale, "", new {@class ="text-danger"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PartitaIVA, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.PartitaIVA, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PartitaIVA, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CodiceSpedizione, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CodiceSpedizione, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CodiceSpedizione, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Ricerca</button>

}


@if(Model.Aggiornamenti != null && Model.Aggiornamenti.Any())
{
    <h3>Risultati</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Stato</th>
                <th>Luogo</th>
                <th>Descrizione</th>
                <th>Data e ora</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var aggiornamento in Model.Aggiornamenti)
                {
                    <tr>
                        <td>@aggiornamento.Stato</td>
                        <td>@aggiornamento.Luogo</td>
                        <td>@aggiornamento.Descrizione</td>
                        <td>@aggiornamento.DataOraAggiornamento.ToString("g")</td>
                    </tr>
                }
        </tbody>
    </table>
}