@model SpedizioniEpicode.Models.Cliente
@{
    ViewBag.Title = "Aggiungi";
}

<h2>Aggiungi Cliente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome, new {@class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nome, "", new {@class="text-danger"})
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CodiceFiscale)
        @Html.TextBoxFor(m => m.CodiceFiscale, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CodiceFiscale, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PartitaIVA)
        @Html.TextBoxFor(m => m.PartitaIVA, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PartitaIVA, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">
        Aggiungi Cliente
    </button>
}
