@model IEnumerable<SpedizioniEpicode.Models.Spedizione>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Numero Identificativo</th>
            <th>Data Spedizione</th>
            <th>Peso</th>
            <th>CittàDestinataria</th>
            <th>Indirizzo Destinatario</th>
            <th>Nominativo Destinatario</th>
            <th>Costo</th>
            <th>Data Consegna Prevista</th>
            <th>ID Cliente</th>
            <th>Aggiungi Aggiornamento</th>
            <th>Visualizza Aggiornamenti</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var spedizione in Model)
            {

            <tr>
                <td>@spedizione.NumeroIdentificativo</td>
                <td>@spedizione.DataSpedizione</td>
                <td>@spedizione.Peso</td>
                <td>@spedizione.CittàDestinataria</td>
                <td>@spedizione.IndirizzoDestinatario</td>
                <td>@spedizione.NominativoDestinatario</td>
                <td>@spedizione.Costo</td>
                <td>@spedizione.DataConsegnaPrevista</td>
                <td>@spedizione.ClienteId</td>
                <td>
                    @Html.ActionLink("Aggiorna", "Aggiungi", "AggiornamentoSpedizioni", new { id = spedizione.SpedizioneId }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Visualizzi Aggiornamenti", "Index", "AggiornamentoSpedizioni", new { id = spedizione.SpedizioneId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
            }
    </tbody>
</table>

